@import '@/styles/theme/common/var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: MuseoSansCyrl, sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 100px;
}
